<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsy.simsserver.mapper.CourseMapper">

    <insert id="insertCourse" parameterType="Course">
        INSERT INTO course (cid, cname, credit, prop, faculty, teacher_name, begin, end)
        VALUES (#{cid},#{cname},#{credit},#{prop},#{faculty},#{teacher_name},#{begin},#{end});
    </insert>

    <select id="selectAllCourses" resultType="Course">
        SELECT * FROM course;
    </select>

    <select id="selectCourse" resultType="Course">
        SELECT * FROM course WHERE cid = #{cid};
    </select>


    <delete id="deleteCourse">
        DELETE FROM course WHERE cid = #{cid};
    </delete>

    <insert id="insertRecordOfStudentSelectingCourse">

        INSERT INTO students_select_courses(sid,cid) VALUES(#{sid},#{cid});

    </insert>

    <resultMap id="courseResult" type="Course">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <result property="credit" column="credit"/>
        <result property="prop" column="prop"/>
        <result property="faculty" column="faculty"/>
        <result property="teacher_name" column="teacher_name"/>
        <result property="begin" column="begin"/>
        <result property="end" column="end"/>
    </resultMap>

    <select id="selectCoursesOfStudents" resultMap="courseResult">

        SELECT
            c.cid,
            c.cname,
            c.credit,
            c.prop,
            c.faculty,
            c.teacher_name,
            c.begin,
            c.end
        FROM students_select_courses sc
            INNER JOIN course c ON sc.cid = c.cid
        WHERE  sc.sid = #{sid};

    </select>

</mapper>